body {
  background: #223255;
  height: 100%;
  width: 100%;
  margin: 0;
  padding: 0;
}
.box {
  position: relative;
  margin: auto;
  margin-top: 8%;
  display: block;
  width: 300px;
  height: 300px;
}


.tube {
  position: absolute;
  background: #f6feff;
  height: 80%;
  width: 12%;
  border-radius: 0% 0% 20px 20px;
  top: 10%;
  z-index: 3;
}
.tube::after {
  content: '';
  background: inherit;
  width: 120%;
  height: 5%;
  left: -10%;
  position: absolute;
  top: -5%;
  border-radius: 10px;
}
.tube.one {
  animation: tiltit 3s linear alternate 2;
}
.tube.two {
  left: 40%;
  height: 50%;
  width: 30%;
  top: 40%;
  z-index: 0;
}

.liquid {
  position: absolute;
  background: orange;
  height: 50%;
  width: 80%;
  border-radius: 0% 0% 20px 20px;
  right: 10%;
  bottom: 2%;
  z-index: 3;
}
.liquid::after {
  content: '';
  height: 100%;
  left: 15%;
  width: 85%;
  opacity: 0.5;
  border-radius: 0% 0% 20px 20px;
  background: white;
  position: absolute;
}
.liquid.one {
  animation: pourit 3s linear forwards;
  animation-delay: 1.5s linear;
}
.liquid.two {
  animation: fillit 6s linear forwards;
}

.trickle  {
  position: absolute;
  background: orange;
  height: 55%;
  width: 4%;
  border-radius: 20px;
  left: 49%;
  top: 20%;
  transform: rotate(-10deg);
  z-index: 0;
  animation: trickleit 3s linear;
  opacity: 0;
  animation-delay: 0.8s;
}
.trickle::after {
  content: '';
  height: 70%;
  width: 100%;
  top: 30%;
  background: white;
  opacity: 0.5;
  position: absolute;
  
}

@keyframes tiltit {
  0% {
    transform: rotate(0deg);
    top: 10%;
  }
  50%, 100% {
    top: -30%;
    transform: rotate(110deg);
  }
}
@keyframes pourit {
  to {
    height: 95%;
    width: 0%;
  }
}
@keyframes fillit {
  0%, 41% {
    height: 50%;
  }
  62%, 100% {
    height: 95%;
  }
}
@keyframes trickleit {
  0%, 40% {
    opacity: 0;
    width: 0%;
  }
  41%, 99% {
    opacity: 1;
    width: 2%;
  }
  100% {
    opacity: 0;
  }
}