body {
  background: #03bb85;
  height: 100%;
  width: 100%;
  margin: 0;
  padding: 0;
}
.box {
  position: relative;
  margin: auto;
  margin-top: 8%;
  display: block;
  width: 400px;
  height: 400px;
  border: 10px solid #fff;
  border-radius: 50%;
  box-shadow: 0 0 0 10px #006db0;
  background: #91aebf;
  overflow: hidden;
}

.wave {
  background: #006db0;
  position: absolute;
  border-radius: 100%;
  height: 60%;
  width: 60%;
  top: 20%;
  left: 10%;
  overflow: hidden;
  animation: drop-me 2s linear forwards infinite;
}
.wave-front {
  background: #91aebf;
  height: 40%;
  width: 40%;
  left: 40%;
  bottom: 30%;
  position: absolute;
  border-radius: 50%;
  animation: shrink-me 2s linear forwards infinite;
}
.sea {
  position: absolute;
  background: #006db0;
  height: 36%;
  width: 100%;
  bottom: 0%;
  z-index: 10;
}
.wave-back  {
  background: #006db0;
  position: absolute;
  height: 40%;
  width: 40%;
  top: 35%;
  left: -18.5%;
  animation: drop-me 2s linear forwards infinite;
}

.wave-back-curve {
  background: #91aebf;
  height: 170%;
  width:169%;
  left: -145%;
  top: -90%;
  position: absolute;
  border-radius: 50%;
  animation: drop-me 2s linear forwards infinite;
}

.house {
  background: blue;
  position: absolute;
  clip-path: polygon(50% 0%, 100% 35%, 100% 100%, 60% 100%, 60% 65%, 40% 65%, 40% 100%, 0 100%, 0 35%);
  height: 10%;
  width: 10%;
  right: 10%;
  top: 55%;
  animation: house-me 2s linear forwards infinite;
}

@keyframes house-me {
  0% {
    transform: rotate(5deg);
  }
  15% {
    transform: rotate(-5deg);
  }
  30% {
    transform: rotate(5deg);
  }
  45% {
    transform: rotate(-5deg);
  }
  60% {
    transform: rotate(5deg);
  }
  100% {
    transform: translate(100px, 100px);
  }
}
@keyframes drop-me {
  0% {
    transform: translate(-100px, 10px);
  }
  40% {
    transform: translate(100px, -10px);
  }
  100% {
    transform: translate(200px, 200px);
  }
}
@keyframes shrink-me {
  0% {
    transform: translate(-100px, 10px);
  }
  40% {
    transform: translate(100px, -10px);
  }
  100% {
    height: 18%;
    width: 18%;
    transform: translate(200px, 200px);
  }
}